#chart_div {
    position: absolute;
    margin-top: 4vh;
    right: 1vw;
    width: 40vw;
}


#moreinfo {
    position: absolute;
    z-index: 2;
    border: none;
    background-color: darkseagreen;
    padding: 0.5vh 1vw;
    box-shadow: 1px 1px 2px 0px lightgrey;
    border-radius: 3px;
    outline: none;
    right: 1vw;
}

#moreinfo:hover {
    cursor: pointer;
}


#chart {
    float: right;
    position: absolute;
    z-index: 1;
}