.gm-style>div:first-child>div+div>div:last-child>div>div:first-child>div {
    background: yellow !important;
    box-shadow: none;
}

.gm-style .gm-style-iw {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p#firstHeading.nome {
    margin: 0px !important;
}

#map>div>div>div:nth-child(1)>div:nth-child(4)>div:nth-child(4)>div>div:nth-child(1)>div:nth-child(2) {
    box-shadow: none !important;
}

#map>div>div>div:nth-child(1)>div:nth-child(4)>div:nth-child(4)>div>div:nth-child(1)>div:nth-child(3)>div:nth-child(1)>div {
    background: red !important;
    box-shadow: none !important;
}

#map>div>div>div:nth-child(1)>div:nth-child(4)>div:nth-child(4)>div>div:nth-child(1)>div:nth-child(3)>div:nth-child(2)>div {
    background: red !important;
    box-shadow: none !important;
}

#map>div>div>div:nth-child(1)>div:nth-child(4)>div:nth-child(4)>div>div:nth-child(1)>div:nth-child(1) {
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
}

#contentInfo {
    text-align: center;
}

#contentInfo p {
    margin: 0px !important
}
