html,
body {
    height: 90%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility !important;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

#procura {
    margin-left: 1vw;
    margin-top: 1vw;
    width: 15vw;
    position: absolute;
    z-index: 1;
}

#dados {
    margin: 2vw;
    z-index: 1;
}

.rightCol {
    margin-bottom: 0.5vh;
}

.rightCol>input {
    font-family: 'Poppins', sans-serif;
    border: none;
    box-shadow: 1px 1px 2px 0px lightgrey;
    border-radius: 3px;
    /*outline: none;*/
    padding: 0.6vh 1vw;
    margin: 0.3vh;
    width: 10vw;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}


/*eliminar borda azul*/

input {
    outline: none;
}

#fields {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
    width: 12vw;
    height: 3vh;
    min-width: 80px;
    box-shadow: 1px 1px 2px 0px lightgrey;
    border-radius: 3px;
    padding: 1vh 1vw;
    margin: 0.5vh;
    outline: none;
    text-indent: 0.2vw;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    height: inherit;
}

#search {
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: dodgerblue;
    padding: 0.5vh 1vw;
    box-shadow: 1px 1px 2px 0px lightgrey;
    border-radius: 3px;
    outline: none;
    margin-top: 0.5vw;
    font-weight: 500;
}

#search:hover {
    cursor: pointer;
}


/*—————— MAPA ————————— */

#map {
    height: 80vh;
    cursor: all-scroll;
}

#map:hover {
    height: 80vh;
    cursor: all-scroll;
}


/*—————— FOTOS ————————— */

.userImage {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid;
}


/*
.userImage:hover {
    border-color: blue !important;
}
*/


/*—————— LEGENDA ————————— */

#footer {
    height: 25px;
    width: 100vw;
    background: white;
    border: 1px solid black;
    bottom: 0;
    position: absolute;
    z-index: 10;
}

#footer>div:hover {
    border-color: black;
}

.legend {
    margin-top: 3px;
    margin-left: 8px;
    border-radius: 50%;
    border: 2.8px solid;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
    position: relative;
}

.fieldsLegend {
    width: auto;
    float: left;
    vertical-align: middle;
    margin-right: 10px;
}

.userImage {
    cursor: pointer;
}





