html,
body {
    height: 90%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#procura {
    margin-left: 1vw;
    margin-top: 1vw;
    width: 15vw;
    position: absolute;
    z-index: 1;
}

#dados {
    margin: 2vw;
    z-index: 1;
}

.rightCol {
    margin-bottom: 0.5vh;
}

.rightCol>input {
    font-family: 'Poppins', sans-serif;
    border: none;
    box-shadow: 1px 1px 2px 0px lightgrey;
    border-radius: 3px;
    padding: 0.6vh 1vw;
    margin: 0.5vh;
    width: 125px;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

@media only screen and (max-width: 1024px) {
    #procura {
        width: 25vw;
    }
}

@media only screen and (max-width: 850px) {
    .rightCol>input {
        width: 133px;
    }
}

@media only screen and (max-width: 700px) {
    #procura {
        width: 38vw;
    }
    .rightCol>input {
        width: 142px;
    }
}

input {
    outline: none;
}

#fields {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
    width: 150px;
    box-shadow: 1px 1px 2px 0px lightgrey;
    border-radius: 3px;
    margin: 0.5vh;
    outline: none;
    text-indent: 0.2vw;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    height: inherit;
}

.buttonLayout {
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #cddc39;
    padding: 4px 6px;
    box-shadow: 1px 1px 2px 0px lightgrey;
    border-radius: 3px;
    outline: none;
    margin-top: 0.5vw;
    font-weight: 500;
}

.buttonLayout:hover {
    cursor: pointer;
}


/*—————— MAPA ————————— */

#map {
    height: 100vh;
    cursor: all-scroll;
}


/*—————— FOTOS USERS ————————— */

.userImage {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid;
}


/*—————— SPINNER MAP ————————— */

.spinnermap {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/*—————— FOOTER - LEGENDA ————————— */

#footer {
    height: 30px;
    width: 100vw;
    background: white;
    bottom: 0;
    position: absolute;
    z-index: 10;
    overflow-y: scroll;
    font-size: 12px;
    padding: 3px 0px 0px 0px;
    /*border: 2px solid red;*/
    max-width: 100%;
}

.legend {
    margin-top: 3px;
    margin-left: 2px;
    border-radius: 50%;
    border: 2px solid;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
    position: relative;
}

.fieldsLegend {
    width: auto;
    float: left;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 4px;
}

.userImage {
    cursor: pointer;
}

#changeLayout {
    background-color: #00bcd4;
}
